html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #e3f2fd;
}

details {
    margin: 1em;
}

details summary {
    cursor: pointer;
}

.card-content a {
    color: #ffab40;
}

.card-content a:hover {
    color: #ffd8a6;
}
